|*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 3rem;
}
body {
  
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.rating .fa {
  color: #ff523b;
}
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid #ff523b;
  border-radius: 3px;
  padding: 5px;
}
select:focus {
  outline: none;
}
/*---Cart---*/
img {
  height: 150px!important;
  width: 150px!important;
}

.col-xs-6 {
  text-align: center
}

.productTitle {
  
  text-align: center;
}

.addToCartBtn{
  width: 50%;
  height: 40px;
  padding: 1rem;
  color: black;
  font-weight: 900;
  
}

.cartContainer {
  margin-top: 4rem;
  font-size: 3rem;
  text-align: center
}

.cartContainer img {
  width: 100px!important;
  height: 100px!important;
}

.headingTop {
  border-top: 1px solid black;
}

.heading {
  border-bottom: 1px solid black;
  text-align: center;
}

.cartTitle {
  color: red;
  margin-top: 3rem
}

.cartPrice {
  margin-top: 3rem
}

.removeButton {
  background: Red;
  cursor: pointer;
  color: white;
  margin-top: 3rem
}

.cartQty {
  margin-top: 3rem
}

.form-control {
  color: #000;
  background-color: #e4cece;
  font-weight: 900;
  font-size: 3rem;
  padding: 0rem 1rem
}

.totalPrice {
  margin-top: 4rem
}
.footer {
 
  background-size: 100%;
  color: #8a8a8a;
  font-size: 14px;
  padding: 90px 40 20px;
}